body.default{
	background-image: url("../options/pattern1.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.pattern-01{
	background-image: url("../options/pattern2.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.pattern-02{
	background-image: url("../options/pattern3.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.pattern-03{
	background-image: url("../options/pattern4.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.pattern-04{
	background-image: url("../options/pattern5.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
